Repository meteora-pro/hackaton-hr: changes, and which GitLab CI jobs are due for each by the changed paths.
All: increment-version-api, increment-version-fe, build-image-api, build-image-fe, build-review-fe, deploy-on-review-fe, stop_review_fe, deploy-on-staging-api, deploy-on-staging-fe

increment-version-api:
  image: node:10
  stage: increment-version-api
  variables:
    CI_REPOSITORY_URL: https://$GIT_ACCESS_USER:$ACCESS_TOKEN_FOR_PUSH@gitlab.com/$CI_PROJECT_PATH.git
  script:
  - git config --global http.postBuffer 157286400
  - git config user.name $GIT_ACCESS_USER
  - git config user.email $GITLAB_USER_EMAIL
  ...

increment-version-fe:
  image: node:10
  stage: increment-version-fe
  variables:
    CI_REPOSITORY_URL: https://$GIT_ACCESS_USER:$ACCESS_TOKEN_FOR_PUSH@gitlab.com/$CI_PROJECT_PATH.git
  script:
  - git config --global http.postBuffer 157286400
  - git config user.name $GIT_ACCESS_USER
  - git config user.email $GITLAB_USER_EMAIL
  ...

build-image-api:
  image: andreymaznyak/docker-git-perl:latest
  stage: build
  variables:
    GIT_STRATEGY: clone
  services:
  - docker:18.09.7-dind
  before_script:
  - echo "registry=$NPM_REGISTRY" > .npmrc
  script:
  - export PROJECT_VERSION=api-$(cat apps/api/version)
  ...

build-image-fe:
  image: andreymaznyak/docker-git-perl:latest
  stage: build
  variables:
    GIT_STRATEGY: clone
  services:
  - docker:18.09.7-dind
  before_script:
  - echo "registry=$NPM_REGISTRY" > .npmrc
  script:
  - export PROJECT_VERSION=fe-$(cat apps/fe/version)
  ...

build-review-fe:
  image: andreymaznyak/docker-git-perl:latest
  stage: build
  variables:
    GIT_STRATEGY: clone
  services:
  - docker:18.09.7-dind
  before_script:
  - echo "registry=$NPM_REGISTRY" > .npmrc
  script:
  - export PROJECT_VERSION=fe-$CI_BUILD_REF_SLUG
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
  ...

deploy-on-review-fe:
  image: registry.gitlab.com/meteora-pro/secure/it:deploy-kit-helm3
  stage: deploy
  variables:
    KUBECONFIG: /etc/deploy/config
  before_script:
  - mkdir -p /etc/deploy
  - echo ${staging_config} | base64 -d > ${KUBECONFIG}
  script:
  - export PROJECT_VERSION=fe-$CI_BUILD_REF_SLUG
  ...

stop_review_fe:
  image: registry.gitlab.com/meteora-pro/secure/it:deploy-kit-helm3
  stage: deploy
  variables:
    GIT_STRATEGY: none
  before_script:
  - mkdir -p /etc/deploy
  - echo ${staging_config} | base64 -d > ${KUBECONFIG}
  - export PROJECT_VERSION=fe-$CI_BUILD_REF_SLUG
  script:
  ...

deploy-on-staging-api:
  image: registry.gitlab.com/meteora-pro/secure/it:deploy-kit-helm3
  stage: deploy
  variables:
    KUBECONFIG: /etc/deploy/config
  before_script:
  - mkdir -p /etc/deploy
  - echo ${staging_config} | base64 -d > ${KUBECONFIG}
  script:
  ...

deploy-on-staging-fe:
  image: registry.gitlab.com/meteora-pro/secure/it:deploy-kit-helm3
  stage: deploy
  variables:
    KUBECONFIG: /etc/deploy/config
  before_script:
  - mkdir -p /etc/deploy
  - echo ${staging_config} | base64 -d > ${KUBECONFIG}
  script:
  ...

[Increment version fe fe-release-v1.0.53]
  apps/fe/package.json
  apps/fe/version
  deploy/fe/Chart.yaml
Due: increment-version-fe, build-image-fe, build-review-fe, deploy-on-review-fe, stop_review_fe, deploy-on-staging-fe

Add nullable fields, fix scoring calculation
  apps/api/src/app/entities/candidate.entity.ts
  apps/api/src/app/services/vacancy.service.ts
Due: increment-version-api

[Increment version api api-release-v1.0.49]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, build-image-api, deploy-on-staging-api

Fix scoring
  apps/api/src/app/services/vacancy.service.ts
Due: increment-version-api

[Increment version api api-release-v1.0.50]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, build-image-api, deploy-on-staging-api

feat: hide partition description in vacancy
  apps/fe/src/app/pages/vacancies/vacancy-card/vacancy-card/vacancy-card.component.html
  apps/fe/src/app/pages/vacancies/vacancy-card/vacancy-card/vacancy-card.component.less
  apps/fe/src/app/pages/vacancies/vacancy-card/vacancy-card/vacancy-card.component.ts
Due: increment-version-fe, build-review-fe, deploy-on-review-fe, stop_review_fe

[Increment version fe fe-release-v1.0.54]
  apps/fe/package.json
  apps/fe/version
  deploy/fe/Chart.yaml
Due: increment-version-fe, build-image-fe, build-review-fe, deploy-on-review-fe, stop_review_fe, deploy-on-staging-fe

Fix scoring and matching bugs
  apps/api/src/app/controllers/candidate.controller.ts
  apps/api/src/app/services/candidate.service.ts
  apps/api/src/app/services/vacancy.service.ts
Due: increment-version-api

[Increment version api api-release-v1.0.51]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, build-image-api, deploy-on-staging-api

implement range skills preset by frequency in relative vacancies
  apps/api/src/app/controllers/vacancy-predictor.controller.ts
  apps/api/src/app/services/vacancy-predictor.service.ts
  apps/fe/src/app/pages/vacancies/create-vacancy/create-vacancy.component.html
  apps/fe/src/app/pages/vacancies/create-vacancy/create-vacancy.component.ts
  apps/fe/src/app/pages/vacancies/services/predictor.service.ts
  apps/fe/src/app/pages/vacancies/store/constructor-state/vacancy-constructor.state.ts
Due: increment-version-api, increment-version-fe, build-review-fe, deploy-on-review-fe, stop_review_fe

[Increment version api api-release-v1.0.52]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, build-image-api, deploy-on-staging-api

[Increment version fe fe-release-v1.0.55]
  apps/fe/package.json
  apps/fe/version
  deploy/fe/Chart.yaml
Due: increment-version-fe, build-image-fe, build-review-fe, deploy-on-review-fe, stop_review_fe, deploy-on-staging-fe

Fix matching skills algorithm
  apps/api/src/app/services/candidate.service.ts
  apps/api/src/app/services/vacancy.service.ts
Due: increment-version-api

[Increment version api api-release-v1.0.53]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, build-image-api, deploy-on-staging-api

feat: add empty state to scoring
  apps/fe/src/app/pages/candidates/candidate-card/candidate-card.module.ts
  apps/fe/src/app/pages/candidates/candidate-card/card/candidate-card.component.html
  apps/fe/src/app/pages/candidates/candidate-card/matched-vacancy-modal/matched-vacancy-modal.component.html
  apps/fe/src/app/pages/vacancies/vacancy-card/scoring-modal/scoring-modal.component.html
  apps/fe/src/app/pages/vacancies/vacancy-card/vacancy-card.module.ts
Due: increment-version-fe, build-review-fe, deploy-on-review-fe, stop_review_fe

[Increment version fe fe-release-v1.0.56]
  apps/fe/package.json
  apps/fe/version
  deploy/fe/Chart.yaml
Due: increment-version-fe, build-image-fe, build-review-fe, deploy-on-review-fe, stop_review_fe, deploy-on-staging-fe

Add readme info about ml
  README.md
Due: none

fix: add margin between tags in modal
  apps/fe/src/app/pages/candidates/candidate-card/matched-vacancy-modal/matched-vacancy-modal.component.less
  apps/fe/src/app/pages/vacancies/vacancy-card/scoring-modal/scoring-modal.component.less
Due: increment-version-fe, build-review-fe, deploy-on-review-fe, stop_review_fe

[Increment version fe fe-release-v1.0.57]
  apps/fe/package.json
  apps/fe/version
  deploy/fe/Chart.yaml
Due: increment-version-fe, build-image-fe, build-review-fe, deploy-on-review-fe, stop_review_fe, deploy-on-staging-fe

add link to cards
  apps/fe/src/app/pages/welcome/welcome.component.html
Due: increment-version-fe, build-review-fe, deploy-on-review-fe, stop_review_fe

[Increment version api api-release-v1.0.54]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, build-image-api, deploy-on-staging-api

[Increment version fe fe-release-v1.0.58]
  apps/fe/package.json
  apps/fe/version
  deploy/fe/Chart.yaml
Due: increment-version-fe, build-image-fe, build-review-fe, deploy-on-review-fe, stop_review_fe, deploy-on-staging-fe

fix: correct typo
  apps/fe/src/app/pages/vacancies/vacancy-card/vacancy-card/vacancy-card.component.html
Due: increment-version-fe, build-review-fe, deploy-on-review-fe, stop_review_fe

[Increment version fe fe-release-v1.0.59]
  apps/fe/package.json
  apps/fe/version
  deploy/fe/Chart.yaml
Due: increment-version-fe, build-image-fe, build-review-fe, deploy-on-review-fe, stop_review_fe, deploy-on-staging-fe

fix: correct typo
  apps/fe/src/app/pages/candidates/components/candidate-form/candidate-form.component.html
Due: increment-version-fe, build-review-fe, deploy-on-review-fe, stop_review_fe

[Increment version fe fe-release-v1.0.60]
  apps/fe/package.json
  apps/fe/version
  deploy/fe/Chart.yaml
Due: increment-version-fe, build-image-fe, build-review-fe, deploy-on-review-fe, stop_review_fe, deploy-on-staging-fe

Optimize scoring
  apps/api/src/app/services/candidate.service.ts
  apps/api/src/app/services/vacancy.service.ts
  libs/api-interfaces/src/lib/api-interfaces.ts
Due: increment-version-api, increment-version-fe, build-review-fe, deploy-on-review-fe, stop_review_fe

[Increment version api api-release-v1.0.55]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, build-image-api, deploy-on-staging-api

[Increment version fe fe-release-v1.0.61]
  apps/fe/package.json
  apps/fe/version
  deploy/fe/Chart.yaml
Due: increment-version-fe, build-image-fe, build-review-fe, deploy-on-review-fe, stop_review_fe, deploy-on-staging-fe

Path conditions:
  increment-version-api: any of: libs/**/*, tools/**/*, deploy/api/**/*, apps/api/**/*
  increment-version-fe: any of: libs/**/*, tools/**/*, deploy/fe/**/*, apps/fe/**/*
  build-image-api: any of: apps/api/package.json
  build-image-fe: any of: apps/fe/package.json
  build-review-fe: any of: libs/**/*, tools/**/*, deploy/fe/**/*, apps/fe/**/*
  deploy-on-review-fe: any of: libs/**/*, tools/**/*, deploy/fe/**/*, apps/fe/**/*
  stop_review_fe: any of: libs/**/*, tools/**/*, deploy/fe/**/*, apps/fe/**/*
  deploy-on-staging-api: any of: apps/api/package.json
  deploy-on-staging-fe: any of: apps/fe/package.json
