Repository meteora-pro/hackaton-hr: changes, and which GitLab CI jobs are due for each by the changed paths.
All: increment-version-api, increment-version-fe, build-image-api, build-image-fe, build-review-fe, deploy-on-review-fe, stop_review_fe, deploy-on-staging-api, deploy-on-staging-fe

Path conditions:
  increment-version-api: any of: libs/**/*, tools/**/*, deploy/api/**/*, apps/api/**/*
  increment-version-fe: any of: libs/**/*, tools/**/*, deploy/fe/**/*, apps/fe/**/*
  build-image-api: any of: apps/api/package.json
  build-image-fe: any of: apps/fe/package.json
  build-review-fe: any of: libs/**/*, tools/**/*, deploy/fe/**/*, apps/fe/**/*
  deploy-on-review-fe: any of: libs/**/*, tools/**/*, deploy/fe/**/*, apps/fe/**/*
  stop_review_fe: any of: libs/**/*, tools/**/*, deploy/fe/**/*, apps/fe/**/*
  deploy-on-staging-api: any of: apps/api/package.json
  deploy-on-staging-fe: any of: apps/fe/package.json

feat: add candidates store
  apps/fe/src/app/app-routing.module.ts
  apps/fe/src/app/pages/candidates/candidates.module.ts
  apps/fe/src/app/pages/candidates/list/candidates-list.component.html
  apps/fe/src/app/pages/candidates/list/candidates-list.component.ts
  apps/fe/src/app/pages/candidates/pipes/work-experience-years.pipe.spec.ts
  apps/fe/src/app/pages/candidates/pipes/work-experience-years.pipe.ts
  apps/fe/src/app/pages/candidates/store/candidates.actions.ts
  apps/fe/src/app/pages/candidates/store/candidates.state.spec.ts
  apps/fe/src/app/pages/candidates/store/candidates.state.ts
  apps/fe/src/app/pages/vacancy/store/vacancy.actions.ts
  apps/fe/src/app/shared/models/pagination.ts
  apps/fe/src/app/shared/models/store.status.enum.ts
  apps/fe/src/app/shared/services/nest-crud.service.ts
  apps/fe/src/app/vacancy/components/vacancy-form/vacancy-form.component.html
  apps/fe/src/app/vacancy/components/vacancy-form/vacancy-form.component.less
  apps/fe/src/app/vacancy/components/vacancy-form/vacancy-form.component.spec.ts
  apps/fe/src/app/vacancy/components/vacancy-form/vacancy-form.component.ts
  apps/fe/src/app/vacancy/create-vacancy/create-vacancy.component.html
  apps/fe/src/app/vacancy/create-vacancy/create-vacancy.component.less
  apps/fe/src/app/vacancy/create-vacancy/create-vacancy.component.spec.ts
  apps/fe/src/app/vacancy/create-vacancy/create-vacancy.component.ts
  apps/fe/src/app/vacancy/store/vacancy.actions.ts
  apps/fe/src/app/vacancy/store/vacancy.state.ts
  apps/fe/src/app/vacancy/vacancy.module.ts
  apps/fe/src/environments/environment.prod.ts
  apps/fe/src/environments/environment.ts
  libs/api-interfaces/src/lib/api-interfaces.ts
Due: increment-version-api, increment-version-fe, build-review-fe, deploy-on-review-fe, stop_review_fe

[Increment version api api-release-v1.0.9]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, build-image-api, deploy-on-staging-api

[Increment version fe fe-release-v1.0.12]
  apps/fe/package.json
  apps/fe/version
  deploy/fe/Chart.yaml
Due: increment-version-fe, build-image-fe, build-review-fe, deploy-on-review-fe, stop_review_fe, deploy-on-staging-fe

revert api version
  apps/api/src/app/app.controller.spec.ts
  apps/api/src/app/app.controller.ts
  apps/api/src/app/app.module.ts
  apps/api/src/app/app.service.spec.ts
  apps/api/src/app/app.service.ts
Due: increment-version-api

[Increment version api api-release-v1.0.10]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, build-image-api, deploy-on-staging-api

Remove secret
  deploy/api/templates/api.secret.yaml
Due: increment-version-api

[Increment version api api-release-v1.0.11]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, build-image-api, deploy-on-staging-api

feat: add candidates table
  apps/fe/src/app/pages/candidates/candidates-routing.module.ts
  apps/fe/src/app/pages/candidates/candidates.module.ts
  apps/fe/src/app/pages/candidates/list/candidates-list.component.html
  apps/fe/src/app/pages/candidates/pipes/work-experience-years.pipe.spec.ts
  apps/fe/src/app/pages/candidates/pipes/work-experience-years.pipe.ts
  apps/fe/src/app/pages/candidates/store/candidates.state.ts
  package-lock.json
  package.json
Due: increment-version-fe, build-review-fe, deploy-on-review-fe, stop_review_fe

[Increment version fe fe-release-v1.0.13]
  apps/fe/package.json
  apps/fe/version
  deploy/fe/Chart.yaml
Due: increment-version-fe, build-image-fe, build-review-fe, deploy-on-review-fe, stop_review_fe, deploy-on-staging-fe

change education to many to many relations
  apps/api/src/app/entities/candidate.entity.ts
  apps/api/src/app/entities/specialization.entity.ts
  apps/api/src/app/entities/vacancy.entity.ts
  libs/api-interfaces/src/lib/api-interfaces.ts
Due: increment-version-api, increment-version-fe, build-review-fe, deploy-on-review-fe, stop_review_fe

[Increment version api api-release-v1.0.12]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, build-image-api, deploy-on-staging-api

[Increment version fe fe-release-v1.0.14]
  apps/fe/package.json
  apps/fe/version
  deploy/fe/Chart.yaml
Due: increment-version-fe, build-image-fe, build-review-fe, deploy-on-review-fe, stop_review_fe, deploy-on-staging-fe

fix controller
  apps/api/src/app/controllers/candidate.controller.ts
Due: increment-version-api

fix controller
  apps/api/src/app/services/candidate.service.ts
Due: increment-version-api

fix: use RequestQueryBuilder in NestCrudService
  apps/fe/src/app/pages/candidates/list/candidates-list.component.ts
  apps/fe/src/app/pages/candidates/store/candidates.actions.ts
  apps/fe/src/app/pages/candidates/store/candidates.state.ts
  apps/fe/src/app/shared/services/nest-crud.service.ts
  apps/fe/src/environments/environment.prod.ts
  apps/fe/src/environments/environment.ts
Due: increment-version-fe, build-review-fe, deploy-on-review-fe, stop_review_fe

[Increment version api api-release-v1.0.13]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, build-image-api, deploy-on-staging-api

[Increment version fe fe-release-v1.0.15]
  apps/fe/package.json
  apps/fe/version
  deploy/fe/Chart.yaml
Due: increment-version-fe, build-image-fe, build-review-fe, deploy-on-review-fe, stop_review_fe, deploy-on-staging-fe

rebuild
  apps/api/src/app/controllers/candidate.controller.ts
Due: increment-version-api

[Increment version api api-release-v1.0.14]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, build-image-api, deploy-on-staging-api

implement base list
  apps/fe/src/app/app-routing.module.ts
  apps/fe/src/app/app.component.html
  apps/fe/src/app/pages/vacancies/card/card.component.html
  apps/fe/src/app/pages/vacancies/card/card.component.less
  apps/fe/src/app/pages/vacancies/card/card.component.spec.ts
  apps/fe/src/app/pages/vacancies/card/card.component.ts
  apps/fe/src/app/pages/vacancies/constructor/constructor.component.html
  apps/fe/src/app/pages/vacancies/constructor/constructor.component.less
  apps/fe/src/app/pages/vacancies/constructor/constructor.component.spec.ts
  apps/fe/src/app/pages/vacancies/constructor/constructor.component.ts
  apps/fe/src/app/pages/vacancies/create-vacancy/create-vacancy.component.html
  apps/fe/src/app/pages/vacancies/create-vacancy/create-vacancy.component.less
  apps/fe/src/app/pages/vacancies/create-vacancy/create-vacancy.component.ts
  apps/fe/src/app/pages/vacancies/store/vacancy.actions.ts
  apps/fe/src/app/pages/vacancies/store/vacancy.state.ts
  apps/fe/src/app/pages/vacancies/vacancies-list/vacancies-list.component.html
  apps/fe/src/app/pages/vacancies/vacancies-list/vacancies-list.component.spec.ts
  apps/fe/src/app/pages/vacancies/vacancies-list/vacancies-list.component.ts
  apps/fe/src/app/pages/vacancies/vacancies-routing.module.ts
  apps/fe/src/app/pages/vacancies/vacancies.module.ts
  apps/fe/src/app/vacancy/components/vacancy-form/vacancy-form.component.html
  apps/fe/src/app/vacancy/components/vacancy-form/vacancy-form.component.less
  apps/fe/src/app/vacancy/components/vacancy-form/vacancy-form.component.spec.ts
  apps/fe/src/app/vacancy/components/vacancy-form/vacancy-form.component.ts
  apps/fe/src/app/vacancy/create-vacancy/create-vacancy.component.spec.ts
  apps/fe/src/app/vacancy/vacancy.module.ts
Due: increment-version-fe, build-review-fe, deploy-on-review-fe, stop_review_fe

[Increment version fe fe-release-v1.0.16]
  apps/fe/package.json
  apps/fe/version
  deploy/fe/Chart.yaml
Due: increment-version-fe, build-image-fe, build-review-fe, deploy-on-review-fe, stop_review_fe, deploy-on-staging-fe

feat: add candidate-form
  apps/api/src/app/entities/candidate.entity.ts
  apps/fe/src/app/pages/candidates/candidates-routing.module.ts
  apps/fe/src/app/pages/candidates/candidates.module.ts
  apps/fe/src/app/pages/candidates/components/candidate-form/candidate-form.component.html
  apps/fe/src/app/pages/candidates/components/candidate-form/candidate-form.component.less
  apps/fe/src/app/pages/candidates/components/candidate-form/candidate-form.component.spec.ts
  apps/fe/src/app/pages/candidates/components/candidate-form/candidate-form.component.ts
  apps/fe/src/app/pages/candidates/components/experiences-control/experiences-control.component.html
  apps/fe/src/app/pages/candidates/components/experiences-control/experiences-control.component.less
  apps/fe/src/app/pages/candidates/components/experiences-control/experiences-control.component.spec.ts
  apps/fe/src/app/pages/candidates/components/experiences-control/experiences-control.component.ts
  apps/fe/src/app/pages/candidates/containers/create-candidate/create-candidate.component.html
  apps/fe/src/app/pages/candidates/containers/create-candidate/create-candidate.component.less
  apps/fe/src/app/pages/candidates/containers/create-candidate/create-candidate.component.spec.ts
  apps/fe/src/app/pages/candidates/containers/create-candidate/create-candidate.component.ts
  apps/fe/src/app/pages/candidates/containers/list/candidates-list.component.html
  apps/fe/src/app/pages/candidates/containers/list/candidates-list.component.less
  apps/fe/src/app/pages/candidates/containers/list/candidates-list.component.spec.ts
  apps/fe/src/app/pages/candidates/containers/list/candidates-list.component.ts
  apps/fe/src/app/pages/candidates/pipes/work-experience-years.pipe.ts
  apps/fe/src/app/pages/candidates/store/candidates.actions.ts
  apps/fe/src/app/pages/candidates/store/candidates.state.ts
  apps/fe/src/styles.less
  libs/api-interfaces/src/lib/api-interfaces.ts
Due: increment-version-api, increment-version-fe, build-review-fe, deploy-on-review-fe, stop_review_fe

Add init migration
  apps/api/src/app/migrations/1606571179875-importDataSet.ts
  apps/api/src/app/migrations/all.migrations.ts
Due: increment-version-api

[Increment version api api-release-v1.0.15]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, build-image-api, deploy-on-staging-api

[Increment version fe fe-release-v1.0.17]
  apps/fe/package.json
  apps/fe/version
  deploy/fe/Chart.yaml
Due: increment-version-fe, build-image-fe, build-review-fe, deploy-on-review-fe, stop_review_fe, deploy-on-staging-fe

fix: correct candidateEntity
  apps/api/src/app/entities/candidate.entity.ts
Due: increment-version-api

feat: add create-link to menu
  apps/fe/src/app/app.component.html
  apps/fe/src/app/pages/candidates/components/experiences-control/experiences-control.component.html
Due: increment-version-fe, build-review-fe, deploy-on-review-fe, stop_review_fe

[Increment version api api-release-v1.0.16]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, build-image-api, deploy-on-staging-api

[Increment version fe fe-release-v1.0.18]
  apps/fe/package.json
  apps/fe/version
  deploy/fe/Chart.yaml
Due: increment-version-fe, build-image-fe, build-review-fe, deploy-on-review-fe, stop_review_fe, deploy-on-staging-fe

fix: change candidate entity
  apps/api/src/app/entities/candidate.entity.ts
  apps/fe/src/app/app.component.html
  apps/fe/src/app/pages/candidates/components/candidate-form/candidate-form.component.html
  apps/fe/src/app/pages/candidates/components/candidate-form/candidate-form.component.ts
  apps/fe/src/app/pages/candidates/containers/list/candidates-list.component.html
  apps/fe/src/app/pages/candidates/containers/list/candidates-list.component.ts
  apps/fe/src/environments/environment.ts
  package.json
Due: increment-version-api, increment-version-fe, build-review-fe, deploy-on-review-fe, stop_review_fe

[Increment version api api-release-v1.0.17]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, build-image-api, deploy-on-staging-api

[Increment version fe fe-release-v1.0.19]
  apps/fe/package.json
  apps/fe/version
  deploy/fe/Chart.yaml
Due: increment-version-fe, build-image-fe, build-review-fe, deploy-on-review-fe, stop_review_fe, deploy-on-staging-fe

[Increment version api api-release-v1.0.18]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, build-image-api, deploy-on-staging-api

complete predictor load data
  apps/api/src/app/controllers/vacancy-predictor.controller.ts
  apps/api/src/app/migrations/1606571349242-parce-predict.ts
  apps/api/src/app/services/all.services.ts
  apps/api/src/app/services/vacancy-predictor.service.ts
Due: increment-version-api

[Increment version api api-release-v1.0.19]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, build-image-api, deploy-on-staging-api

feat: add vacancy-list
  apps/api/src/app/app.config.ts
  apps/fe/src/app/pages/candidates/candidates-routing.module.ts
  apps/fe/src/app/pages/candidates/candidates.module.ts
  apps/fe/src/app/pages/candidates/containers/card/candidate-card.component.html
  apps/fe/src/app/pages/candidates/containers/card/candidate-card.component.less
  apps/fe/src/app/pages/candidates/containers/card/candidate-card.component.spec.ts
  apps/fe/src/app/pages/candidates/containers/card/candidate-card.component.ts
  apps/fe/src/app/pages/vacancies/store/vacancy.actions.ts
  apps/fe/src/app/pages/vacancies/store/vacancy.state.ts
  apps/fe/src/app/pages/vacancies/vacancies-list/vacancies-list.component.html
  apps/fe/src/app/pages/vacancies/vacancies-list/vacancies-list.component.ts
  apps/fe/src/environments/environment.ts
Due: increment-version-api, increment-version-fe, build-review-fe, deploy-on-review-fe, stop_review_fe

[Increment version api api-release-v1.0.20]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, build-image-api, deploy-on-staging-api

[Increment version fe fe-release-v1.0.20]
  apps/fe/package.json
  apps/fe/version
  deploy/fe/Chart.yaml
Due: increment-version-fe, build-image-fe, build-review-fe, deploy-on-review-fe, stop_review_fe, deploy-on-staging-fe
