Repository meteora-pro/hackaton-hr: changes, and which GitLab CI jobs are due for each by the changed paths.
All: increment-version-api, increment-version-fe, build-image-api, build-image-fe, build-review-fe, deploy-on-review-fe, stop_review_fe, deploy-on-staging-api, deploy-on-staging-fe

increment-version-api:
  image: node:10
  stage: increment-version-api
  variables:
    CI_REPOSITORY_URL: https://$GIT_ACCESS_USER:$ACCESS_TOKEN_FOR_PUSH@gitlab.com/$CI_PROJECT_PATH.git
  script:
  - git config --global http.postBuffer 157286400
  - git config user.name $GIT_ACCESS_USER
  - git config user.email $GITLAB_USER_EMAIL
  ...

increment-version-fe:
  image: node:10
  stage: increment-version-fe
  variables:
    CI_REPOSITORY_URL: https://$GIT_ACCESS_USER:$ACCESS_TOKEN_FOR_PUSH@gitlab.com/$CI_PROJECT_PATH.git
  script:
  - git config --global http.postBuffer 157286400
  - git config user.name $GIT_ACCESS_USER
  - git config user.email $GITLAB_USER_EMAIL
  ...

build-image-api:
  image: andreymaznyak/docker-git-perl:latest
  stage: build
  variables:
    GIT_STRATEGY: clone
  services:
  - docker:18.09.7-dind
  before_script:
  - echo "registry=$NPM_REGISTRY" > .npmrc
  script:
  - export PROJECT_VERSION=api-$(cat apps/api/version)
  ...

build-image-fe:
  image: andreymaznyak/docker-git-perl:latest
  stage: build
  variables:
    GIT_STRATEGY: clone
  services:
  - docker:18.09.7-dind
  before_script:
  - echo "registry=$NPM_REGISTRY" > .npmrc
  script:
  - export PROJECT_VERSION=fe-$(cat apps/fe/version)
  ...

build-review-fe:
  image: andreymaznyak/docker-git-perl:latest
  stage: build
  variables:
    GIT_STRATEGY: clone
  services:
  - docker:18.09.7-dind
  before_script:
  - echo "registry=$NPM_REGISTRY" > .npmrc
  script:
  - export PROJECT_VERSION=fe-$CI_BUILD_REF_SLUG
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
  ...

deploy-on-review-fe:
  image: registry.gitlab.com/meteora-pro/secure/it:deploy-kit-helm3
  stage: deploy
  variables:
    KUBECONFIG: /etc/deploy/config
  before_script:
  - mkdir -p /etc/deploy
  - echo ${staging_config} | base64 -d > ${KUBECONFIG}
  script:
  - export PROJECT_VERSION=fe-$CI_BUILD_REF_SLUG
  ...

stop_review_fe:
  image: registry.gitlab.com/meteora-pro/secure/it:deploy-kit-helm3
  stage: deploy
  variables:
    GIT_STRATEGY: none
  before_script:
  - mkdir -p /etc/deploy
  - echo ${staging_config} | base64 -d > ${KUBECONFIG}
  - export PROJECT_VERSION=fe-$CI_BUILD_REF_SLUG
  script:
  ...

deploy-on-staging-api:
  image: registry.gitlab.com/meteora-pro/secure/it:deploy-kit-helm3
  stage: deploy
  variables:
    KUBECONFIG: /etc/deploy/config
  before_script:
  - mkdir -p /etc/deploy
  - echo ${staging_config} | base64 -d > ${KUBECONFIG}
  script:
  ...

deploy-on-staging-fe:
  image: registry.gitlab.com/meteora-pro/secure/it:deploy-kit-helm3
  stage: deploy
  variables:
    KUBECONFIG: /etc/deploy/config
  before_script:
  - mkdir -p /etc/deploy
  - echo ${staging_config} | base64 -d > ${KUBECONFIG}
  script:
  ...

feat: add vacancy-card
  apps/fe/src/app/app.component.html
  apps/fe/src/app/pages/vacancies/store/vacancy.actions.ts
  apps/fe/src/app/pages/vacancies/store/vacancy.state.ts
  apps/fe/src/app/pages/vacancies/vacancies-list/vacancies-list.component.html
  apps/fe/src/app/pages/vacancies/vacancies-routing.module.ts
  apps/fe/src/app/pages/vacancies/vacancies.module.ts
  apps/fe/src/app/pages/vacancies/vacancy-card/vacancy-card.component.html
  apps/fe/src/app/pages/vacancies/vacancy-card/vacancy-card.component.less
  apps/fe/src/app/pages/vacancies/vacancy-card/vacancy-card.component.spec.ts
  apps/fe/src/app/pages/vacancies/vacancy-card/vacancy-card.component.ts
  apps/fe/src/app/shared/services/nest-crud.service.ts
Due: increment-version-fe, build-review-fe, deploy-on-review-fe, stop_review_fe

[Increment version fe fe-release-v1.0.21]
  apps/fe/package.json
  apps/fe/version
  deploy/fe/Chart.yaml
Due: increment-version-fe, build-image-fe, build-review-fe, deploy-on-review-fe, stop_review_fe, deploy-on-staging-fe

fix: calc work experiences
  apps/fe/src/app/pages/candidates/candidates.module.ts
  apps/fe/src/app/pages/candidates/components/candidate-form/candidate-form.component.html
  apps/fe/src/app/pages/candidates/components/experiences-control/experiences-control.component.html
  apps/fe/src/app/pages/candidates/components/experiences-control/experiences-control.component.ts
  apps/fe/src/app/pages/candidates/pipes/work-experience-years.pipe.ts
  apps/fe/src/app/pages/vacancies/store/vacancy.state.ts
  apps/fe/src/app/pages/vacancies/vacancy-card/vacancy-card.component.ts
  apps/fe/src/app/shared/pipes/work-experience-years.pipe.ts
  apps/fe/src/app/shared/services/nest-crud.service.ts
  apps/fe/src/app/shared/shared.module.ts
Due: increment-version-fe, build-review-fe, deploy-on-review-fe, stop_review_fe

[Increment version fe fe-release-v1.0.22]
  apps/fe/package.json
  apps/fe/version
  deploy/fe/Chart.yaml
Due: increment-version-fe, build-image-fe, build-review-fe, deploy-on-review-fe, stop_review_fe, deploy-on-staging-fe

Fix base types
  apps/api/src/app/entities/candidate.entity.ts
  libs/api-interfaces/src/lib/api-interfaces.ts
Due: increment-version-api, increment-version-fe, build-review-fe, deploy-on-review-fe, stop_review_fe

[Increment version api api-release-v1.0.21]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, build-image-api, deploy-on-staging-api

[Increment version fe fe-release-v1.0.23]
  apps/fe/package.json
  apps/fe/version
  deploy/fe/Chart.yaml
Due: increment-version-fe, build-image-fe, build-review-fe, deploy-on-review-fe, stop_review_fe, deploy-on-staging-fe

implement base predictor for vacancy name
  apps/api/src/app/migrations/1606587380646-change-schema.ts
Due: increment-version-api

feat: add vacancy pagination
  apps/fe/src/app/pages/vacancies/store/vacancy.state.ts
  apps/fe/src/app/pages/vacancies/vacancies-list/vacancies-list.component.html
  apps/fe/src/app/pages/vacancies/vacancies-list/vacancies-list.component.ts
Due: increment-version-fe, build-review-fe, deploy-on-review-fe, stop_review_fe

Rename enums
  libs/api-interfaces/src/lib/api-interfaces.ts
Due: increment-version-api, increment-version-fe, build-review-fe, deploy-on-review-fe, stop_review_fe

complete vacancy predict
  apps/api/src/app/controllers/all.controllers.ts
  apps/api/src/app/controllers/vacancy-predictor.controller.ts
  apps/api/src/app/migrations/all.migrations.ts
  apps/api/src/app/services/vacancy-predictor.service.ts
  apps/fe/src/app/pages/vacancies/create-vacancy/create-vacancy.component.html
  apps/fe/src/app/pages/vacancies/create-vacancy/create-vacancy.component.ts
  apps/fe/src/app/pages/vacancies/vacancies.module.ts
Due: increment-version-api, increment-version-fe, build-review-fe, deploy-on-review-fe, stop_review_fe

[Increment version api api-release-v1.0.22]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, build-image-api, deploy-on-staging-api

[Increment version api api-release-v1.0.23]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, build-image-api, deploy-on-staging-api

[Increment version fe fe-release-v1.0.24]
  apps/fe/package.json
  apps/fe/version
  deploy/fe/Chart.yaml
Due: increment-version-fe, build-image-fe, build-review-fe, deploy-on-review-fe, stop_review_fe, deploy-on-staging-fe

fix: vacancy pagination
  apps/fe/src/app/pages/vacancies/store/vacancy.state.ts
  apps/fe/src/app/pages/vacancies/vacancies-list/vacancies-list.component.html
  apps/fe/src/app/pages/vacancies/vacancies-list/vacancies-list.component.ts
Due: increment-version-fe, build-review-fe, deploy-on-review-fe, stop_review_fe

[Increment version fe fe-release-v1.0.25]
  apps/fe/package.json
  apps/fe/version
  deploy/fe/Chart.yaml
Due: increment-version-fe, build-image-fe, build-review-fe, deploy-on-review-fe, stop_review_fe, deploy-on-staging-fe

feat: move vacancyCard to own state
  apps/fe/src/app/app-routing.module.ts
  apps/fe/src/app/pages/vacancies/store/vacancy.actions.ts
  apps/fe/src/app/pages/vacancies/store/vacancy.state.ts
  apps/fe/src/app/pages/vacancies/vacancies-list/vacancies-list.component.html
  apps/fe/src/app/pages/vacancies/vacancies-routing.module.ts
  apps/fe/src/app/pages/vacancies/vacancies.module.ts
  apps/fe/src/app/pages/vacancies/vacancy-card/vacancy-card.actions.ts
  apps/fe/src/app/pages/vacancies/vacancy-card/vacancy-card.module.ts
  apps/fe/src/app/pages/vacancies/vacancy-card/vacancy-card.state.ts
  apps/fe/src/app/pages/vacancies/vacancy-card/vacancy-card/vacancy-card.component.html
  apps/fe/src/app/pages/vacancies/vacancy-card/vacancy-card/vacancy-card.component.less
  apps/fe/src/app/pages/vacancies/vacancy-card/vacancy-card/vacancy-card.component.spec.ts
  apps/fe/src/app/pages/vacancies/vacancy-card/vacancy-card/vacancy-card.component.ts
Due: increment-version-fe, build-review-fe, deploy-on-review-fe, stop_review_fe

[Increment version fe fe-release-v1.0.26]
  apps/fe/package.json
  apps/fe/version
  deploy/fe/Chart.yaml
Due: increment-version-fe, build-image-fe, build-review-fe, deploy-on-review-fe, stop_review_fe, deploy-on-staging-fe

feat: add interfaces for candidate with scoring
  apps/fe/src/app/pages/vacancies/vacancy-card/vacancy-card.state.ts
  libs/api-interfaces/src/lib/api-interfaces.ts
Due: increment-version-api, increment-version-fe, build-review-fe, deploy-on-review-fe, stop_review_fe

[Increment version api api-release-v1.0.24]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, build-image-api, deploy-on-staging-api

[Increment version fe fe-release-v1.0.27]
  apps/fe/package.json
  apps/fe/version
  deploy/fe/Chart.yaml
Due: increment-version-fe, build-image-fe, build-review-fe, deploy-on-review-fe, stop_review_fe, deploy-on-staging-fe

feat: create candidate-scoring list
  apps/fe/src/app/pages/vacancies/vacancy-card/candidate-scoring-list/candidate-scoring-list.component.html
  apps/fe/src/app/pages/vacancies/vacancy-card/candidate-scoring-list/candidate-scoring-list.component.less
  apps/fe/src/app/pages/vacancies/vacancy-card/candidate-scoring-list/candidate-scoring-list.component.spec.ts
  apps/fe/src/app/pages/vacancies/vacancy-card/candidate-scoring-list/candidate-scoring-list.component.ts
  apps/fe/src/app/pages/vacancies/vacancy-card/vacancy-card.actions.ts
  apps/fe/src/app/pages/vacancies/vacancy-card/vacancy-card.module.ts
  apps/fe/src/app/pages/vacancies/vacancy-card/vacancy-card.state.ts
  apps/fe/src/app/pages/vacancies/vacancy-card/vacancy-card/vacancy-card.component.html
  apps/fe/src/app/shared/services/nest-crud.service.ts
Due: increment-version-fe, build-review-fe, deploy-on-review-fe, stop_review_fe

[Increment version api api-release-v1.0.25]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, build-image-api, deploy-on-staging-api

[Increment version fe fe-release-v1.0.28]
  apps/fe/package.json
  apps/fe/version
  deploy/fe/Chart.yaml
Due: increment-version-fe, build-image-fe, build-review-fe, deploy-on-review-fe, stop_review_fe, deploy-on-staging-fe

improove contructor and predictor
  apps/api/src/app/entities/vacancy.entity.ts
  apps/fe/src/app/pages/vacancies/create-vacancy/create-vacancy.component.html
  apps/fe/src/app/pages/vacancies/create-vacancy/create-vacancy.component.ts
  apps/fe/src/app/pages/vacancies/services/predictor.service.ts
  apps/fe/src/app/pages/vacancies/store/constructor-state/vacancy-constructor.actions.ts
  apps/fe/src/app/pages/vacancies/store/constructor-state/vacancy-constructor.state.ts
  apps/fe/src/app/pages/vacancies/store/vacancy.state.ts
  apps/fe/src/app/pages/vacancies/vacancies.module.ts
  libs/api-interfaces/src/lib/api-interfaces.ts
Due: increment-version-api, increment-version-fe, build-review-fe, deploy-on-review-fe, stop_review_fe

[Increment version api api-release-v1.0.26]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, build-image-api, deploy-on-staging-api

[Increment version fe fe-release-v1.0.29]
  apps/fe/package.json
  apps/fe/version
  deploy/fe/Chart.yaml
Due: increment-version-fe, build-image-fe, build-review-fe, deploy-on-review-fe, stop_review_fe, deploy-on-staging-fe

Add matching vacancy to candidate endpoint
  apps/api/src/app/controllers/vacancy.controller.ts
Due: increment-version-api

feat: dispatch scoring in LoadVacancyCard
  apps/fe/src/app/pages/vacancies/vacancy-card/candidate-scoring-list/candidate-scoring-list.component.html
  apps/fe/src/app/pages/vacancies/vacancy-card/candidate-scoring-list/candidate-scoring-list.component.ts
  apps/fe/src/app/pages/vacancies/vacancy-card/scoring-modal/scoring-modal.component.html
  apps/fe/src/app/pages/vacancies/vacancy-card/scoring-modal/scoring-modal.component.less
  apps/fe/src/app/pages/vacancies/vacancy-card/scoring-modal/scoring-modal.component.spec.ts
  apps/fe/src/app/pages/vacancies/vacancy-card/scoring-modal/scoring-modal.component.ts
  apps/fe/src/app/pages/vacancies/vacancy-card/vacancy-card.module.ts
  apps/fe/src/app/pages/vacancies/vacancy-card/vacancy-card.state.ts
  apps/fe/src/app/pages/vacancies/vacancy-card/vacancy-card/vacancy-card.component.html
Due: increment-version-fe, build-review-fe, deploy-on-review-fe, stop_review_fe

Fix sort
  apps/api/src/app/controllers/vacancy.controller.ts
Due: increment-version-api

[Increment version fe fe-release-v1.0.30]
  apps/fe/package.json
  apps/fe/version
  deploy/fe/Chart.yaml
Due: increment-version-fe, build-image-fe, build-review-fe, deploy-on-review-fe, stop_review_fe, deploy-on-staging-fe

[Increment version api api-release-v1.0.27]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, build-image-api, deploy-on-staging-api

Remove specialization entity
  apps/api/src/app/controllers/all.controllers.ts
  apps/api/src/app/controllers/specialization.controller.ts
  apps/api/src/app/controllers/vacancy-predictor.controller.ts
  apps/api/src/app/entities/all.entities.ts
  apps/api/src/app/entities/candidate.entity.ts
  apps/api/src/app/entities/specialization.entity.ts
  apps/api/src/app/entities/vacancy.entity.ts
  apps/api/src/app/services/specialization.service.ts
Due: increment-version-api

[Increment version api api-release-v1.0.28]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, build-image-api, deploy-on-staging-api

fix migrations
  apps/api/src/app/migrations/1606571349242-parce-predict.ts
  apps/fe/src/app/pages/vacancies/create-vacancy/create-vacancy.component.html
  apps/fe/src/app/pages/vacancies/create-vacancy/create-vacancy.component.ts
Due: increment-version-api, increment-version-fe, build-review-fe, deploy-on-review-fe, stop_review_fe

[Increment version api api-release-v1.0.29]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, build-image-api, deploy-on-staging-api

fix migrations again!
  apps/api/src/app/migrations/1606573824016-skills-frequency.ts
  apps/api/src/app/services/all.services.ts
Due: increment-version-api

[Increment version api api-release-v1.0.30]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, build-image-api, deploy-on-staging-api

Clean
  apps/api/src/app/entities/base.entity.ts
  apps/api/src/app/services/all.services.ts
Due: increment-version-api

Path conditions:
  increment-version-api: any of: libs/**/*, tools/**/*, deploy/api/**/*, apps/api/**/*
  increment-version-fe: any of: libs/**/*, tools/**/*, deploy/fe/**/*, apps/fe/**/*
  build-image-api: any of: apps/api/package.json
  build-image-fe: any of: apps/fe/package.json
  build-review-fe: any of: libs/**/*, tools/**/*, deploy/fe/**/*, apps/fe/**/*
  deploy-on-review-fe: any of: libs/**/*, tools/**/*, deploy/fe/**/*, apps/fe/**/*
  stop_review_fe: any of: libs/**/*, tools/**/*, deploy/fe/**/*, apps/fe/**/*
  deploy-on-staging-api: any of: apps/api/package.json
  deploy-on-staging-fe: any of: apps/fe/package.json
