Repository meteora-pro/hackaton-hr: changes, and which GitLab CI jobs are due for each by the changed paths.
All: increment-version-api, increment-version-fe, build-image-api, build-image-fe, build-review-fe, deploy-on-review-fe, stop_review_fe, deploy-on-staging-api, deploy-on-staging-fe

increment-version-api:
  image: node:10
  stage: increment-version-api
  variables:
    CI_REPOSITORY_URL: https://$GIT_ACCESS_USER:$ACCESS_TOKEN_FOR_PUSH@gitlab.com/$CI_PROJECT_PATH.git
  script:
  - git config --global http.postBuffer 157286400
  - git config user.name $GIT_ACCESS_USER
  - git config user.email $GITLAB_USER_EMAIL
  ...

increment-version-fe:
  image: node:10
  stage: increment-version-fe
  variables:
    CI_REPOSITORY_URL: https://$GIT_ACCESS_USER:$ACCESS_TOKEN_FOR_PUSH@gitlab.com/$CI_PROJECT_PATH.git
  script:
  - git config --global http.postBuffer 157286400
  - git config user.name $GIT_ACCESS_USER
  - git config user.email $GITLAB_USER_EMAIL
  ...

build-image-api:
  image: andreymaznyak/docker-git-perl:latest
  stage: build
  variables:
    GIT_STRATEGY: clone
  services:
  - docker:18.09.7-dind
  before_script:
  - echo "registry=$NPM_REGISTRY" > .npmrc
  script:
  - export PROJECT_VERSION=api-$(cat apps/api/version)
  ...

build-image-fe:
  image: andreymaznyak/docker-git-perl:latest
  stage: build
  variables:
    GIT_STRATEGY: clone
  services:
  - docker:18.09.7-dind
  before_script:
  - echo "registry=$NPM_REGISTRY" > .npmrc
  script:
  - export PROJECT_VERSION=fe-$(cat apps/fe/version)
  ...

build-review-fe:
  image: andreymaznyak/docker-git-perl:latest
  stage: build
  variables:
    GIT_STRATEGY: clone
  services:
  - docker:18.09.7-dind
  before_script:
  - echo "registry=$NPM_REGISTRY" > .npmrc
  script:
  - export PROJECT_VERSION=fe-$CI_BUILD_REF_SLUG
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
  ...

deploy-on-review-fe:
  image: registry.gitlab.com/meteora-pro/secure/it:deploy-kit-helm3
  stage: deploy
  variables:
    KUBECONFIG: /etc/deploy/config
  before_script:
  - mkdir -p /etc/deploy
  - echo ${staging_config} | base64 -d > ${KUBECONFIG}
  script:
  - export PROJECT_VERSION=fe-$CI_BUILD_REF_SLUG
  ...

stop_review_fe:
  image: registry.gitlab.com/meteora-pro/secure/it:deploy-kit-helm3
  stage: deploy
  variables:
    GIT_STRATEGY: none
  before_script:
  - mkdir -p /etc/deploy
  - echo ${staging_config} | base64 -d > ${KUBECONFIG}
  - export PROJECT_VERSION=fe-$CI_BUILD_REF_SLUG
  script:
  ...

deploy-on-staging-api:
  image: registry.gitlab.com/meteora-pro/secure/it:deploy-kit-helm3
  stage: deploy
  variables:
    KUBECONFIG: /etc/deploy/config
  before_script:
  - mkdir -p /etc/deploy
  - echo ${staging_config} | base64 -d > ${KUBECONFIG}
  script:
  ...

deploy-on-staging-fe:
  image: registry.gitlab.com/meteora-pro/secure/it:deploy-kit-helm3
  stage: deploy
  variables:
    KUBECONFIG: /etc/deploy/config
  before_script:
  - mkdir -p /etc/deploy
  - echo ${staging_config} | base64 -d > ${KUBECONFIG}
  script:
  ...

Add analyse vacancies notebook
  ml-sandbox/datasets/analyse_vacancies.ipynb
Due: none

[Increment version api api-release-v1.0.43]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, build-image-api, deploy-on-staging-api

Fix queries
  apps/api/src/app/controllers/candidate.controller.ts
  apps/api/src/app/controllers/vacancy.controller.ts
Due: increment-version-api

[Increment version api api-release-v1.0.44]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, build-image-api, deploy-on-staging-api

Add array psql functions [skip ci]
  apps/api/src/app/migrations/1606587380646-change-schema.ts
Due: increment-version-api

[Increment version api api-release-v1.0.45]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, build-image-api, deploy-on-staging-api

small fixes (2)
  apps/fe/src/app/pages/vacancies/create-vacancy/create-vacancy.component.html
  apps/fe/src/app/pages/vacancies/vacancies-list/vacancies-list.component.html
  apps/fe/src/app/pages/vacancies/vacancies-list/vacancies-list.component.less
  apps/fe/src/app/pages/vacancies/vacancies-list/vacancies-list.component.ts
  apps/fe/src/app/pages/vacancies/vacancy-card/candidate-scoring-list/candidate-scoring-list.component.html
  apps/fe/src/app/pages/vacancies/vacancy-card/vacancy-card/vacancy-card.component.html
  apps/fe/src/app/pages/vacancies/vacancy-card/vacancy-card/vacancy-card.component.less
Due: increment-version-fe, build-review-fe, deploy-on-review-fe, stop_review_fe

[Increment version fe fe-release-v1.0.40]
  apps/fe/package.json
  apps/fe/version
  deploy/fe/Chart.yaml
Due: increment-version-fe, build-image-fe, build-review-fe, deploy-on-review-fe, stop_review_fe, deploy-on-staging-fe

feat: change layout for candidate-card
  apps/fe/src/app/pages/candidates/candidate-card/candidate-card.module.ts
  apps/fe/src/app/pages/candidates/candidate-card/candidate-card.state.ts
  apps/fe/src/app/pages/candidates/candidate-card/card/candidate-card.component.html
  apps/fe/src/app/pages/candidates/candidate-card/card/candidate-card.component.ts
  apps/fe/src/app/pages/candidates/candidate-card/vacancy-scoring-list/vacancy-scoring-list.component.html
  apps/fe/src/app/pages/candidates/components/candidate-form/candidate-form.component.html
  apps/fe/src/environments/environment.ts
Due: increment-version-fe, build-review-fe, deploy-on-review-fe, stop_review_fe

[Increment version fe fe-release-v1.0.41]
  apps/fe/package.json
  apps/fe/version
  deploy/fe/Chart.yaml
Due: increment-version-fe, build-image-fe, build-review-fe, deploy-on-review-fe, stop_review_fe, deploy-on-staging-fe

implement welcome page
  apps/fe/src/app/pages/welcome/welcome.component.html
  apps/fe/src/app/pages/welcome/welcome.component.less
  apps/fe/src/app/pages/welcome/welcome.component.ts
  apps/fe/src/app/pages/welcome/welcome.module.ts
  apps/fe/src/assets/svg/active-vacancy-logo.svg
  apps/fe/src/assets/svg/candidates-logo.svg
  apps/fe/src/assets/svg/relative-candidates.svg
Due: increment-version-fe, build-review-fe, deploy-on-review-fe, stop_review_fe

[Increment version fe fe-release-v1.0.42]
  apps/fe/package.json
  apps/fe/version
  deploy/fe/Chart.yaml
Due: increment-version-fe, build-image-fe, build-review-fe, deploy-on-review-fe, stop_review_fe, deploy-on-staging-fe

Add parsing experiance
  apps/api/src/app/controllers/vacancy.controller.ts
  apps/api/src/app/services/distance.ts
  apps/api/src/app/services/vacancy.service.ts
Due: increment-version-api

[Increment version api api-release-v1.0.46]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, build-image-api, deploy-on-staging-api

fix: change base layout
  apps/fe/src/app/app.component.html
  apps/fe/src/app/app.component.less
  apps/fe/src/app/app.module.ts
  apps/fe/src/app/pages/candidates/candidate-card/card/candidate-card.component.html
Due: increment-version-fe, build-review-fe, deploy-on-review-fe, stop_review_fe

[Increment version fe fe-release-v1.0.43]
  apps/fe/package.json
  apps/fe/version
  deploy/fe/Chart.yaml
Due: increment-version-fe, build-image-fe, build-review-fe, deploy-on-review-fe, stop_review_fe, deploy-on-staging-fe

add README.md and fix price range
  README.md
  apps/fe/src/app/pages/welcome/welcome.component.html
  docker-compose.dev.yml
Due: increment-version-fe, build-review-fe, deploy-on-review-fe, stop_review_fe

fix: render experiences in card using timeline
  apps/fe/src/app/app.module.ts
  apps/fe/src/app/pages/candidates/candidate-card/candidate-card.module.ts
  apps/fe/src/app/pages/candidates/candidate-card/card/candidate-card.component.html
Due: increment-version-fe, build-review-fe, deploy-on-review-fe, stop_review_fe

[Increment version fe fe-release-v1.0.44]
  apps/fe/package.json
  apps/fe/version
  deploy/fe/Chart.yaml
Due: increment-version-fe, build-image-fe, build-review-fe, deploy-on-review-fe, stop_review_fe, deploy-on-staging-fe

fix margin for welcome tags
  apps/fe/src/app/pages/welcome/welcome.component.html
Due: increment-version-fe, build-review-fe, deploy-on-review-fe, stop_review_fe

[Increment version fe fe-release-v1.0.45]
  apps/fe/package.json
  apps/fe/version
  deploy/fe/Chart.yaml
Due: increment-version-fe, build-image-fe, build-review-fe, deploy-on-review-fe, stop_review_fe, deploy-on-staging-fe

feat: add links to candidates from vacancy
  apps/fe/src/app/pages/candidates/candidate-card/candidate-card.state.ts
  apps/fe/src/app/pages/candidates/candidate-card/card/candidate-card.component.html
  apps/fe/src/app/pages/candidates/candidate-card/vacancy-scoring-list/vacancy-scoring-list.component.html
  apps/fe/src/app/pages/candidates/containers/list/candidates-list.component.html
  apps/fe/src/app/pages/vacancies/vacancy-card/candidate-scoring-list/candidate-scoring-list.component.html
Due: increment-version-fe, build-review-fe, deploy-on-review-fe, stop_review_fe

[Increment version fe fe-release-v1.0.46]
  apps/fe/package.json
  apps/fe/version
  deploy/fe/Chart.yaml
Due: increment-version-fe, build-image-fe, build-review-fe, deploy-on-review-fe, stop_review_fe, deploy-on-staging-fe

add clickable tables
  apps/fe/src/app/pages/candidates/containers/list/candidates-list.component.html
  apps/fe/src/app/pages/vacancies/vacancies-list/vacancies-list.component.html
  apps/fe/src/app/pages/welcome/welcome.component.html
  apps/fe/src/styles.less
Due: increment-version-fe, build-review-fe, deploy-on-review-fe, stop_review_fe

[Increment version fe fe-release-v1.0.47]
  apps/fe/package.json
  apps/fe/version
  deploy/fe/Chart.yaml
Due: increment-version-fe, build-image-fe, build-review-fe, deploy-on-review-fe, stop_review_fe, deploy-on-staging-fe

feat: remove priority
  apps/fe/src/app/pages/candidates/candidate-card/vacancy-scoring-list/vacancy-scoring-list.component.html
  apps/fe/src/app/pages/vacancies/vacancies-list/vacancies-list.component.html
  apps/fe/src/app/pages/vacancies/vacancies-list/vacancies-list.component.ts
  apps/fe/src/app/pages/welcome/welcome.component.html
  apps/fe/src/app/pages/welcome/welcome.component.less
  apps/fe/src/app/pages/welcome/welcome.component.ts
Due: increment-version-fe, build-review-fe, deploy-on-review-fe, stop_review_fe

[Increment version fe fe-release-v1.0.48]
  apps/fe/package.json
  apps/fe/version
  deploy/fe/Chart.yaml
Due: increment-version-fe, build-image-fe, build-review-fe, deploy-on-review-fe, stop_review_fe, deploy-on-staging-fe

fix: redirect to detail page when click by row
  apps/fe/src/app/app-routing.module.ts
  apps/fe/src/app/pages/candidates/candidate-card/vacancy-scoring-list/vacancy-scoring-list.component.html
  apps/fe/src/app/pages/candidates/candidate-card/vacancy-scoring-list/vacancy-scoring-list.component.ts
  apps/fe/src/app/pages/vacancies/vacancies-list/vacancies-list.component.html
  apps/fe/src/app/pages/vacancies/vacancy-card/candidate-scoring-list/candidate-scoring-list.component.html
  apps/fe/src/app/pages/vacancies/vacancy-card/candidate-scoring-list/candidate-scoring-list.component.ts
Due: increment-version-fe, build-review-fe, deploy-on-review-fe, stop_review_fe

[Increment version fe fe-release-v1.0.49]
  apps/fe/package.json
  apps/fe/version
  deploy/fe/Chart.yaml
Due: increment-version-fe, build-image-fe, build-review-fe, deploy-on-review-fe, stop_review_fe, deploy-on-staging-fe

Add fields
  apps/api/src/app/controllers/candidate.controller.ts
  apps/api/src/app/controllers/vacancy.controller.ts
  apps/api/src/app/entities/vacancy.entity.ts
  apps/api/src/app/services/vacancy.service.ts
  libs/api-interfaces/src/lib/api-interfaces.ts
Due: increment-version-api, increment-version-fe, build-review-fe, deploy-on-review-fe, stop_review_fe

[Increment version api api-release-v1.0.47]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, build-image-api, deploy-on-staging-api

feat: add notification messages to candidateCard state
  apps/fe/src/app/pages/candidates/candidate-card/candidate-card.actions.ts
  apps/fe/src/app/pages/candidates/candidate-card/candidate-card.state.ts
  apps/fe/src/app/pages/candidates/candidate-card/card/candidate-card.component.html
  apps/fe/src/app/pages/candidates/candidate-card/card/candidate-card.component.ts
Due: increment-version-fe, build-review-fe, deploy-on-review-fe, stop_review_fe

[Increment version fe fe-release-v1.0.50]
  apps/fe/package.json
  apps/fe/version
  deploy/fe/Chart.yaml
Due: increment-version-fe, build-image-fe, build-review-fe, deploy-on-review-fe, stop_review_fe, deploy-on-staging-fe

fix avatar offset
  apps/fe/src/app/pages/candidates/candidate-card/card/candidate-card.component.html
Due: increment-version-fe, build-review-fe, deploy-on-review-fe, stop_review_fe

[Increment version fe fe-release-v1.0.51]
  apps/fe/package.json
  apps/fe/version
  deploy/fe/Chart.yaml
Due: increment-version-fe, build-image-fe, build-review-fe, deploy-on-review-fe, stop_review_fe, deploy-on-staging-fe

feat: add link to hh
  apps/fe/src/app/pages/candidates/components/candidate-form/candidate-form.component.html
  apps/fe/src/app/pages/vacancies/store/vacancy.state.ts
  apps/fe/src/app/pages/vacancies/vacancy-card/vacancy-card/vacancy-card.component.html
Due: increment-version-fe, build-review-fe, deploy-on-review-fe, stop_review_fe

[Increment version fe fe-release-v1.0.52]
  apps/fe/package.json
  apps/fe/version
  deploy/fe/Chart.yaml
Due: increment-version-fe, build-image-fe, build-review-fe, deploy-on-review-fe, stop_review_fe, deploy-on-staging-fe

Remove lodash-es
  apps/api/src/app/services/common/common.service.ts
  apps/api/src/app/services/vacancy.service.ts
Due: increment-version-api

[Increment version api api-release-v1.0.48]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, build-image-api, deploy-on-staging-api

fix: remove mock data and cancel button in forms
  apps/fe/src/app/pages/candidates/components/candidate-form/candidate-form.component.html
  apps/fe/src/app/pages/vacancies/create-vacancy/create-vacancy.component.html
Due: increment-version-fe, build-review-fe, deploy-on-review-fe, stop_review_fe

Path conditions:
  increment-version-api: any of: libs/**/*, tools/**/*, deploy/api/**/*, apps/api/**/*
  increment-version-fe: any of: libs/**/*, tools/**/*, deploy/fe/**/*, apps/fe/**/*
  build-image-api: any of: apps/api/package.json
  build-image-fe: any of: apps/fe/package.json
  build-review-fe: any of: libs/**/*, tools/**/*, deploy/fe/**/*, apps/fe/**/*
  deploy-on-review-fe: any of: libs/**/*, tools/**/*, deploy/fe/**/*, apps/fe/**/*
  stop_review_fe: any of: libs/**/*, tools/**/*, deploy/fe/**/*, apps/fe/**/*
  deploy-on-staging-api: any of: apps/api/package.json
  deploy-on-staging-fe: any of: apps/fe/package.json
