Repository meteora-pro/hackaton-hr: changes, and which GitLab CI jobs are due for each by the changed paths.
All: increment-version-api, increment-version-fe, build-image-api, build-image-fe, build-review-fe

Path conditions:
  increment-version-api: any of: libs/**/*, tools/**/*, deploy/api/**/*, apps/api/**/*
  increment-version-fe: any of: libs/**/*, tools/**/*, deploy/fe/**/*, apps/fe/**/*
  build-image-api: any of: apps/api/package.json
  build-image-fe: any of: apps/fe/package.json
  build-review-fe: any of: libs/**/*, tools/**/*, deploy/fe/**/*, apps/fe/**/*

Add build stage
  .gitlab-ci.yml
Due: none

Add deploy stage on ci
  .gitlab-ci.yml
Due: none

Add build scripts
  package.json
Due: none

Add ingress configs, prepare to deploy to dev
  .gitlab-ci.yml
  deploy/api/values.yaml
  deploy/fe/values.yaml
Due: increment-version-api, increment-version-fe, build-review-fe

Fix ci env name
  .gitlab-ci.yml
Due: none

[Increment version api api-release-v1.0.1]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, build-image-api

[Increment version fe fe-release-v1.0.1]
  apps/fe/package.json
  apps/fe/version
  deploy/fe/Chart.yaml
Due: increment-version-fe, build-image-fe, build-review-fe

Add staging secret to git ignore
  .gitignore
Due: none

Remove cypress from dependencies
  package-lock.json
  package.json
Due: none

Fix error in values yaml
  deploy/fe/values.yaml
Due: increment-version-fe, build-review-fe

[Increment version fe fe-release-v1.0.2]
  apps/fe/package.json
  apps/fe/version
  deploy/fe/Chart.yaml
Due: increment-version-fe, build-image-fe, build-review-fe

implement base structure
  apps/fe/src/app/app-routing.module.ts
  apps/fe/src/app/app.component.html
  apps/fe/src/app/pages/candidates/candidates-routing.module.ts
  apps/fe/src/app/pages/candidates/candidates.module.ts
  apps/fe/src/app/pages/candidates/card/candidate-card.component.html
  apps/fe/src/app/pages/candidates/card/candidate-card.component.less
  apps/fe/src/app/pages/candidates/card/candidate-card.component.spec.ts
  apps/fe/src/app/pages/candidates/card/candidate-card.component.ts
  apps/fe/src/app/pages/candidates/list/candidates-list.component.html
  apps/fe/src/app/pages/candidates/list/candidates-list.component.less
  apps/fe/src/app/pages/candidates/list/candidates-list.component.spec.ts
  apps/fe/src/app/pages/candidates/list/candidates-list.component.ts
  apps/fe/src/app/pages/vacancies/card/card.component.html
  apps/fe/src/app/pages/vacancies/card/card.component.less
  apps/fe/src/app/pages/vacancies/card/card.component.spec.ts
  apps/fe/src/app/pages/vacancies/card/card.component.ts
  apps/fe/src/app/pages/vacancies/constructor/constructor.component.html
  apps/fe/src/app/pages/vacancies/constructor/constructor.component.less
  apps/fe/src/app/pages/vacancies/constructor/constructor.component.spec.ts
  apps/fe/src/app/pages/vacancies/constructor/constructor.component.ts
  apps/fe/src/app/pages/vacancies/vacancies-list/vacancies-list.component.html
  apps/fe/src/app/pages/vacancies/vacancies-list/vacancies-list.component.less
  apps/fe/src/app/pages/vacancies/vacancies-list/vacancies-list.component.spec.ts
  apps/fe/src/app/pages/vacancies/vacancies-list/vacancies-list.component.ts
  apps/fe/src/app/pages/vacancies/vacancies-routing.module.ts
  apps/fe/src/app/pages/vacancies/vacancies.module.ts
  apps/fe/src/app/pages/welcome/welcome.component.html
  apps/fe/src/index.html
Due: increment-version-fe, build-review-fe

[Increment version fe fe-release-v1.0.3]
  apps/fe/package.json
  apps/fe/version
  deploy/fe/Chart.yaml
Due: increment-version-fe, build-image-fe, build-review-fe

Fix frontend deploy error
  deploy/fe/templates/deployment.yaml
Due: increment-version-fe, build-review-fe

[Increment version fe fe-release-v1.0.4]
  apps/fe/package.json
  apps/fe/version
  deploy/fe/Chart.yaml
Due: increment-version-fe, build-image-fe, build-review-fe

Add additional host for backend
  deploy/api/values.yaml
Due: increment-version-api

Add swagger doc api
  apps/api/src/main.ts
Due: increment-version-api

[Increment version api api-release-v1.0.2]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, build-image-api

feat: add core and store modules
  apps/fe/src/app/app.module.ts
  apps/fe/src/app/core/core.module.ts
  apps/fe/src/app/core/store/store.module.ts
  package-lock.json
  package.json
Due: increment-version-fe, build-review-fe

[Increment version fe fe-release-v1.0.5]
  apps/fe/package.json
  apps/fe/version
  deploy/fe/Chart.yaml
Due: increment-version-fe, build-image-fe, build-review-fe

Add huntu domain
  deploy/api/values.yaml
  deploy/fe/values.yaml
Due: increment-version-api, increment-version-fe, build-review-fe

[Increment version api api-release-v1.0.3]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, build-image-api

[Increment version fe fe-release-v1.0.6]
  apps/fe/package.json
  apps/fe/version
  deploy/fe/Chart.yaml
Due: increment-version-fe, build-image-fe, build-review-fe

feat: add @ngxs/schematics
  angular.json
  package-lock.json
  package.json
Due: none

create base interfaces
  apps/api/src/app/app.controller.ts
  libs/api-interfaces/src/lib/api-interfaces.spec.ts
  libs/api-interfaces/src/lib/api-interfaces.ts
Due: increment-version-api, increment-version-fe, build-review-fe

[Increment version api api-release-v1.0.4]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, build-image-api

[Increment version fe fe-release-v1.0.7]
  apps/fe/package.json
  apps/fe/version
  deploy/fe/Chart.yaml
Due: increment-version-fe, build-image-fe, build-review-fe

feat: create vacancy module, router and create-form
  apps/fe/src/app/app-routing.module.ts
  apps/fe/src/app/pages/vacancy/components/vacancy-form/vacancy-form.component.html
  apps/fe/src/app/pages/vacancy/components/vacancy-form/vacancy-form.component.less
  apps/fe/src/app/pages/vacancy/components/vacancy-form/vacancy-form.component.spec.ts
  apps/fe/src/app/pages/vacancy/components/vacancy-form/vacancy-form.component.ts
  apps/fe/src/app/pages/vacancy/create-vacancy/create-vacancy.component.html
  apps/fe/src/app/pages/vacancy/create-vacancy/create-vacancy.component.less
  apps/fe/src/app/pages/vacancy/create-vacancy/create-vacancy.component.spec.ts
  apps/fe/src/app/pages/vacancy/create-vacancy/create-vacancy.component.ts
  apps/fe/src/app/pages/vacancy/store/vacancy.actions.ts
  apps/fe/src/app/pages/vacancy/store/vacancy.state.ts
  apps/fe/src/app/pages/vacancy/vacancy.module.ts
Due: increment-version-fe, build-review-fe

[Increment version fe fe-release-v1.0.8]
  apps/fe/package.json
  apps/fe/version
  deploy/fe/Chart.yaml
Due: increment-version-fe, build-image-fe, build-review-fe

implement vacancy model
  apps/api/src/app/app.module.ts
  apps/api/src/app/entities/all.entities.ts
  apps/api/src/app/entities/base.entity.ts
  apps/api/src/app/entities/specialization.entity.ts
  apps/api/src/app/entities/vacancy.entity.ts
  apps/api/src/app/services/common/common.service.ts
  config/api/.development.env
  docker-compose.dev.yml
  libs/api-interfaces/src/lib/api-interfaces.ts
  ormconfig.js
  package-lock.json
  package.json
  tsconfig.base.json
Due: increment-version-api, increment-version-fe, build-review-fe

[Increment version api api-release-v1.0.5]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, build-image-api

[Increment version fe fe-release-v1.0.9]
  apps/fe/package.json
  apps/fe/version
  deploy/fe/Chart.yaml
Due: increment-version-fe, build-image-fe, build-review-fe

feat(vacancy): add base controls to form
  apps/fe/src/app/pages/vacancy/create-vacancy/create-vacancy.component.html
  apps/fe/src/app/pages/vacancy/create-vacancy/create-vacancy.component.ts
  apps/fe/src/app/pages/vacancy/vacancy.module.ts
  libs/api-interfaces/src/lib/api-interfaces.ts
Due: increment-version-api, increment-version-fe, build-review-fe

[Increment version api api-release-v1.0.6]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, build-image-api

[Increment version fe fe-release-v1.0.10]
  apps/fe/package.json
  apps/fe/version
  deploy/fe/Chart.yaml
Due: increment-version-fe, build-image-fe, build-review-fe

implement candidate model
  apps/api/src/app/entities/all.entities.ts
  apps/api/src/app/entities/candidate.entity.ts
  apps/api/src/app/entities/specialization.entity.ts
  apps/api/src/app/entities/vacancy.entity.ts
  libs/api-interfaces/src/lib/api-interfaces.ts
Due: increment-version-api, increment-version-fe, build-review-fe

[Increment version api api-release-v1.0.7]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, build-image-api

[Increment version fe fe-release-v1.0.11]
  apps/fe/package.json
  apps/fe/version
  deploy/fe/Chart.yaml
Due: increment-version-fe, build-image-fe, build-review-fe

implement api controllers
  apps/api/src/app/app.controller.spec.ts
  apps/api/src/app/app.controller.ts
  apps/api/src/app/app.module.ts
  apps/api/src/app/app.service.spec.ts
  apps/api/src/app/app.service.ts
  apps/api/src/app/controllers/all.controllers.ts
  apps/api/src/app/controllers/candidate.controller.ts
  apps/api/src/app/controllers/specialization.controller.ts
  apps/api/src/app/controllers/vacancy.controller.ts
  apps/api/src/app/services/all.services.ts
  apps/api/src/app/services/candidate.service.ts
  apps/api/src/app/services/specialization.service.ts
  apps/api/src/app/services/vacancy.service.ts
  apps/api/src/main.ts
  package-lock.json
  package.json
Due: increment-version-api

[Increment version api api-release-v1.0.8]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, build-image-api
