Repository meteora-pro/hackaton-hr: changes, and which GitLab CI jobs are due for each by the changed paths.
All: increment-version-api, increment-version-fe, build-image-api, build-image-fe, build-review-fe, deploy-on-review-fe, stop_review_fe, deploy-on-staging-api, deploy-on-staging-fe

Path conditions:
  increment-version-api: any of: libs/**/*, tools/**/*, deploy/api/**/*, apps/api/**/*
  increment-version-fe: any of: libs/**/*, tools/**/*, deploy/fe/**/*, apps/fe/**/*
  build-image-api: any of: apps/api/package.json
  build-image-fe: any of: apps/fe/package.json
  build-review-fe: any of: libs/**/*, tools/**/*, deploy/fe/**/*, apps/fe/**/*
  deploy-on-review-fe: any of: libs/**/*, tools/**/*, deploy/fe/**/*, apps/fe/**/*
  stop_review_fe: any of: libs/**/*, tools/**/*, deploy/fe/**/*, apps/fe/**/*
  deploy-on-staging-api: any of: apps/api/package.json
  deploy-on-staging-fe: any of: apps/fe/package.json

[Increment version api api-release-v1.0.31]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, build-image-api, deploy-on-staging-api

feat: compile scoring modal
  apps/fe/src/app/pages/vacancies/vacancy-card/candidate-scoring-list/candidate-scoring-list.component.html
  apps/fe/src/app/pages/vacancies/vacancy-card/candidate-scoring-list/candidate-scoring-list.component.ts
  apps/fe/src/app/pages/vacancies/vacancy-card/scoring-modal/scoring-modal.component.html
  apps/fe/src/app/pages/vacancies/vacancy-card/scoring-modal/scoring-modal.component.less
  apps/fe/src/app/pages/vacancies/vacancy-card/scoring-modal/scoring-modal.component.ts
  apps/fe/src/app/pages/vacancies/vacancy-card/vacancy-card.module.ts
Due: increment-version-fe, build-review-fe, deploy-on-review-fe, stop_review_fe

[Increment version fe fe-release-v1.0.31]
  apps/fe/package.json
  apps/fe/version
  deploy/fe/Chart.yaml
Due: increment-version-fe, build-image-fe, build-review-fe, deploy-on-review-fe, stop_review_fe, deploy-on-staging-fe

Add migration slicer, slice resume init loading
  apps/api/src/app/migrations/1606574429753-importExistData.ts
  apps/api/src/app/services/migration-slicer.ts
Due: increment-version-api

[Increment version api api-release-v1.0.32]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, build-image-api, deploy-on-staging-api

Add slice predict vacations data
  apps/api/src/app/migrations/1606571349242-parce-predict.ts
  apps/api/src/app/migrations/1606574429753-importExistData.ts
Due: increment-version-api

[Increment version api api-release-v1.0.33]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, build-image-api, deploy-on-staging-api

Fix vacancy entity
  apps/api/src/app/entities/vacancy.entity.ts
  apps/api/src/app/services/data-transformer.ts
Due: increment-version-api

[Increment version api api-release-v1.0.34]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, build-image-api, deploy-on-staging-api

Add parsing vacancies
  apps/api/src/app/entities/vacancy.entity.ts
  apps/api/src/app/migrations/1606598643604-normalizeInitVacancies.ts
  apps/api/src/app/migrations/all.migrations.ts
  apps/api/src/app/services/data-transformer.ts
Due: increment-version-api

[Increment version api api-release-v1.0.35]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, build-image-api, deploy-on-staging-api

Add clean db
  apps/api/src/app/entities/vacancy.entity.ts
  ormconfig.js
Due: increment-version-api

[Increment version api api-release-v1.0.36]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, build-image-api, deploy-on-staging-api

implement skills predictor
  apps/api/src/app/constants/experience.enum.ts
  apps/api/src/app/controllers/vacancy-predictor.controller.ts
  apps/api/src/app/dto/request-skills.dto.ts
  apps/api/src/app/services/vacancy-predictor.service.ts
  apps/fe/src/app/pages/vacancies/create-vacancy/create-vacancy.component.html
  apps/fe/src/app/pages/vacancies/create-vacancy/create-vacancy.component.ts
  apps/fe/src/app/pages/vacancies/services/predictor.service.ts
  apps/fe/src/app/pages/vacancies/store/constructor-state/vacancy-constructor.actions.ts
  apps/fe/src/app/pages/vacancies/store/constructor-state/vacancy-constructor.state.ts
  apps/fe/src/environments/environment.ts
  package-lock.json
  package.json
Due: increment-version-api, increment-version-fe, build-review-fe, deploy-on-review-fe, stop_review_fe

Remove drop schema [skip ci]
  ormconfig.js
Due: none

[Increment version api api-release-v1.0.37]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, build-image-api, deploy-on-staging-api

feat: add salary range pipe
  apps/fe/src/app/pages/vacancies/vacancy-card/candidate-scoring-list/candidate-scoring-list.component.html
  apps/fe/src/app/pages/vacancies/vacancy-card/vacancy-card/vacancy-card.component.html
  apps/fe/src/app/shared/pipes/last-work.pipe.ts
  apps/fe/src/app/shared/pipes/salary-range.pipe.ts
  apps/fe/src/app/shared/shared.module.ts
Due: increment-version-fe, build-review-fe, deploy-on-review-fe, stop_review_fe

[Increment version fe fe-release-v1.0.32]
  apps/fe/package.json
  apps/fe/version
  deploy/fe/Chart.yaml
Due: increment-version-fe, build-image-fe, build-review-fe, deploy-on-review-fe, stop_review_fe, deploy-on-staging-fe

fix hints
  apps/fe/src/app/pages/vacancies/create-vacancy/create-vacancy.component.html
  apps/fe/src/app/pages/vacancies/create-vacancy/create-vacancy.component.ts
Due: increment-version-fe, build-review-fe, deploy-on-review-fe, stop_review_fe

Fix key skills parsing
  apps/api/src/app/services/data-transformer.ts
Due: increment-version-api

[Increment version api api-release-v1.0.38]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, build-image-api, deploy-on-staging-api

[Increment version fe fe-release-v1.0.33]
  apps/fe/package.json
  apps/fe/version
  deploy/fe/Chart.yaml
Due: increment-version-fe, build-image-fe, build-review-fe, deploy-on-review-fe, stop_review_fe, deploy-on-staging-fe

Add parsing experiances
  apps/api/src/app/services/data-transformer.ts
  libs/api-interfaces/src/lib/api-interfaces.ts
Due: increment-version-api, increment-version-fe, build-review-fe, deploy-on-review-fe, stop_review_fe

[Increment version api api-release-v1.0.39]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, build-image-api, deploy-on-staging-api

[Increment version fe fe-release-v1.0.34]
  apps/fe/package.json
  apps/fe/version
  deploy/fe/Chart.yaml
Due: increment-version-fe, build-image-fe, build-review-fe, deploy-on-review-fe, stop_review_fe, deploy-on-staging-fe

fix: change base layout
  apps/fe/src/app/app.component.html
  apps/fe/src/app/app.component.ts
  apps/fe/src/app/pages/candidates/containers/list/candidates-list.component.html
  apps/fe/src/app/pages/candidates/containers/list/candidates-list.component.less
  apps/fe/src/app/shared/pipes/work-experience-years.pipe.ts
Due: increment-version-fe, build-review-fe, deploy-on-review-fe, stop_review_fe

[Increment version fe fe-release-v1.0.35]
  apps/fe/package.json
  apps/fe/version
  deploy/fe/Chart.yaml
Due: increment-version-fe, build-image-fe, build-review-fe, deploy-on-review-fe, stop_review_fe, deploy-on-staging-fe

feat: create NeedExperiencePipe
  apps/fe/src/app/pages/vacancies/vacancies-list/vacancies-list.component.html
  apps/fe/src/app/pages/vacancies/vacancies.module.ts
  apps/fe/src/app/shared/pipes/need-experience.pipe.ts
  apps/fe/src/app/shared/shared.module.ts
Due: increment-version-fe, build-review-fe, deploy-on-review-fe, stop_review_fe

[Increment version fe fe-release-v1.0.36]
  apps/fe/package.json
  apps/fe/version
  deploy/fe/Chart.yaml
Due: increment-version-fe, build-image-fe, build-review-fe, deploy-on-review-fe, stop_review_fe, deploy-on-staging-fe

Add parsing experiance
  apps/api/src/app/services/data-transformer.ts
Due: increment-version-api

[Increment version api api-release-v1.0.40]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, build-image-api, deploy-on-staging-api

feat: create CandidateCard module and store
  apps/fe/src/app/app-routing.module.ts
  apps/fe/src/app/pages/candidates/candidate-card/candidate-card.actions.ts
  apps/fe/src/app/pages/candidates/candidate-card/candidate-card.module.ts
  apps/fe/src/app/pages/candidates/candidate-card/candidate-card.state.ts
  apps/fe/src/app/pages/candidates/candidate-card/card/candidate-card.component.html
  apps/fe/src/app/pages/candidates/candidate-card/card/candidate-card.component.less
  apps/fe/src/app/pages/candidates/candidate-card/card/candidate-card.component.spec.ts
  apps/fe/src/app/pages/candidates/candidate-card/card/candidate-card.component.ts
  apps/fe/src/app/pages/candidates/candidates-routing.module.ts
  apps/fe/src/app/pages/candidates/candidates.module.ts
  apps/fe/src/app/pages/candidates/containers/card/candidate-card.component.ts
  apps/fe/src/app/pages/candidates/containers/list/candidates-list.component.html
  apps/fe/src/app/pages/candidates/store/candidates.state.ts
Due: increment-version-fe, build-review-fe, deploy-on-review-fe, stop_review_fe

[Increment version fe fe-release-v1.0.37]
  apps/fe/package.json
  apps/fe/version
  deploy/fe/Chart.yaml
Due: increment-version-fe, build-image-fe, build-review-fe, deploy-on-review-fe, stop_review_fe, deploy-on-staging-fe

fix currencyPipe and small fixes
  apps/api/src/app/entities/vacancy.entity.ts
  apps/fe/src/app/core/core.module.ts
  apps/fe/src/app/core/store/core.actions.ts
  apps/fe/src/app/core/store/core.state.ts
  apps/fe/src/app/core/store/store.module.ts
  apps/fe/src/app/pages/vacancies/create-vacancy/create-vacancy.component.html
  apps/fe/src/app/pages/vacancies/create-vacancy/create-vacancy.component.ts
  apps/fe/src/app/pages/vacancies/store/constructor-state/vacancy-constructor.actions.ts
  apps/fe/src/app/pages/vacancies/store/constructor-state/vacancy-constructor.state.ts
  apps/fe/src/app/pages/vacancies/store/vacancy.actions.ts
  apps/fe/src/app/pages/vacancies/store/vacancy.state.ts
  apps/fe/src/app/pages/vacancies/vacancies-list/vacancies-list.component.html
  apps/fe/src/app/pages/vacancies/vacancy-card/vacancy-card.state.ts
  apps/fe/src/app/pages/vacancies/vacancy-card/vacancy-card/vacancy-card.component.html
  apps/fe/src/app/shared/pipes/salary-range.pipe.ts
Due: increment-version-api, increment-version-fe, build-review-fe, deploy-on-review-fe, stop_review_fe

[Increment version api api-release-v1.0.41]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, build-image-api, deploy-on-staging-api

[Increment version fe fe-release-v1.0.38]
  apps/fe/package.json
  apps/fe/version
  deploy/fe/Chart.yaml
Due: increment-version-fe, build-image-fe, build-review-fe, deploy-on-review-fe, stop_review_fe, deploy-on-staging-fe

feat: create MatchedVacancyModalComponent
  apps/fe/src/app/pages/candidates/candidate-card/candidate-card.actions.ts
  apps/fe/src/app/pages/candidates/candidate-card/candidate-card.module.ts
  apps/fe/src/app/pages/candidates/candidate-card/candidate-card.state.ts
  apps/fe/src/app/pages/candidates/candidate-card/card/candidate-card.component.html
  apps/fe/src/app/pages/candidates/candidate-card/card/candidate-card.component.ts
  apps/fe/src/app/pages/candidates/candidate-card/matched-vacancy-modal/matched-vacancy-modal.component.html
  apps/fe/src/app/pages/candidates/candidate-card/matched-vacancy-modal/matched-vacancy-modal.component.less
  apps/fe/src/app/pages/candidates/candidate-card/matched-vacancy-modal/matched-vacancy-modal.component.spec.ts
  apps/fe/src/app/pages/candidates/candidate-card/matched-vacancy-modal/matched-vacancy-modal.component.ts
  apps/fe/src/app/pages/candidates/candidate-card/vacancy-scoring-list/vacancy-scoring-list.component.html
  apps/fe/src/app/pages/candidates/candidate-card/vacancy-scoring-list/vacancy-scoring-list.component.less
  apps/fe/src/app/pages/candidates/candidate-card/vacancy-scoring-list/vacancy-scoring-list.component.ts
  libs/api-interfaces/src/lib/api-interfaces.ts
Due: increment-version-api, increment-version-fe, build-review-fe, deploy-on-review-fe, stop_review_fe

[Increment version api api-release-v1.0.42]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, build-image-api, deploy-on-staging-api

[Increment version fe fe-release-v1.0.39]
  apps/fe/package.json
  apps/fe/version
  deploy/fe/Chart.yaml
Due: increment-version-fe, build-image-fe, build-review-fe, deploy-on-review-fe, stop_review_fe, deploy-on-staging-fe

Add match candidates endpoint
  apps/api/src/app/controllers/candidate.controller.ts
  apps/api/src/app/entities/vacancy.entity.ts
  apps/api/src/app/migrations/1606587380646-change-schema.ts
  apps/api/src/app/services/vacancy.service.ts
Due: increment-version-api
